In [14]:
st = ' Sam Print only the words that start with s in this sentence'

In [15]:
st

' Sam Print only the words that start with s in this sentence'

In [16]:
st.split()

['Sam',
 'Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [17]:
for word in st.split():
    print(word)

Sam
Print
only
the
words
that
start
with
s
in
this
sentence

In [18]:
for word in st.split():
    if word[0]=='s':
        print(word)

start
s
sentence

In [19]:
for word in st.split():
    if word[0].lower()=='s':
        print(word)

Sam
start
s
sentence

In [20]:
for word in st.split():
    if word[0]=='s' or word[0]=='S':
        print(word)

Sam
start
s
sentence

In [21]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [22]:
mylist=[num for num in range (0,51) if num%3==0]

In [23]:
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [24]:
st = 'Print every word in this sentence that has an even number of letters'

In [25]:
for word in st.split():
    if len(word)%2==0:
        print(word + ' is even !')

word is even !
in is even !
this is even !
sentence is even !
that is even !
an is even !
even is even !
number is even !
of is even !

In [26]:
mystring = 'Print every word in this sentence that has an even number of letters'

In [27]:
for letter in mystring.split():
    if len(letter)%2==0:
        print(letter +' is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [28]:
mylist=list(range(1,101))

In [29]:
for num in mylist:
    
    if num%3==0 and num%5==0:
        print('fizzbuzz')
    elif num%3==0:
        print('fizz')
    elif num%5==0 :
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [30]:
st = 'Create a list of the first letters of every word in this string'

In [31]:
mylist=[word[0] for word in st.split()]

In [32]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [33]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [34]:
def lesser_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        if a<b:
            result=a
        else:
            result=b
    else:
        if a>b:
            result=a
        else:
            result=b
    
    return result

In [35]:
lesser_of_two_evens(2,4)

2

In [36]:
lesser_of_two_evens(84,96)

84

In [37]:
lesser_of_two_evens(11,3)

11

In [38]:
lesser_of_two_evens(10,33)

33

In [39]:
def lesser_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        result= min(a,b)
    else:
        result=max(a,b)
    
    return result

In [11]:
lesser_of_two_evens(10,25)

25

In [12]:
# use below given method

In [13]:
def lesser_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [41]:
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [45]:
def animal_crackers(text):
    wordlist=text.split()
    print(wordlist)
    
    first=wordlist[0]
    second=wordlist[1]
    
    return first[0]==second[0]

In [47]:
animal_crackers('love life')

['love', 'life']

True

In [48]:
animal_crackers('crazy kangaroo')

['crazy', 'kangaroo']

False

In [1]:
def animal_crackers(text):
    wordlist=text.split()
    
    return wordlist[0][0]==wordlist[1][0]

In [2]:
animal_crackers('cat cut')

True

In [5]:
# but if we have one capital and one small same letter at the starting then i.e (Cat==cat) it will return false

In [6]:
animal_crackers('Cat cat' )

False

In [7]:
# in order to change this

In [11]:
def animal_crackers(text):
    wordlist=text.lower().split()  # it will make everything lowercase then will do [split()] part
    print(wordlist)
    
    return wordlist[0][0]==wordlist[1][0]

In [12]:
animal_crackers("Cat cat")

['cat', 'cat']

True

In [40]:
def animal_crackers(text):
    wordlist=text.upper().split()  # it will make everything upercase then will do [split()] part
    print(wordlist)
    
    return wordlist[0][0]==wordlist[1][0]

In [16]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [17]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1==20:
        return True
    elif n2==20:
        return True
    else:
        return False

In [18]:
def makes_twenty(n1,n2):
    return (n1+n2==20) or n1==20 or n2==20

In [19]:
makes_twenty(10,2)

False

In [20]:
makes_twenty(11,9)

True

In [21]:
makes_twenty(1,20)

True


# level 1 problems

In [22]:
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [52]:
def old_macdonal(name):
    first_letter=name[0]
    inbetween=name[1:3]
    fourth_letter=name[3]
    rest=name[4:]
    
    return first_letter.upper() + inbetween +fourth_letter.upper() +rest

In [53]:
old_macdonal('macdonal')

'MacDonal'

In [54]:
# we can also do this by the capitalize method

In [55]:
def old_macdonal(name):
    first_half=name[:3]
    second_half=name[3:]
    
    return first_half.capitalize() +second_half.capitalize()

In [58]:
old_macdonal('macdonal')

'MacDonal'

In [59]:
# MASTER YODA: Given a sentence, return a sentence with the words reversed

In [62]:
def master_yoda(text):
    wordlist=text.split()
    reverse_word_list=wordlist[::-1]
    return reverse_word_list

In [63]:
master_yoda('i am home')

['home', 'am', 'i']

In [64]:
# now using the .join() method

In [65]:
mylist=['a','b','c']

In [70]:
'--'.join(mylist)  # "it will use the ('--' string) to concatenate every word inside our mylist" ...# note: here we can  use anystring acc to our choice

'a--b--c'

In [73]:
' '.join(mylist) # it can be either t an empty string too!!

'a b c'

In [74]:
"ooo".join(mylist)

'aoooboooc'

In [75]:
''.join(mylist)

'abc'

In [1]:
# do this in the below given way

In [78]:
def master_yoda(text):
    wordlist=text.split()
    reverse_word_list=wordlist[::-1]
    return ' '.join(reverse_word_list)

In [79]:
master_yoda('i am home')

'home am i'

 # ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [81]:
# note : abs(num) returns the absolute value of a number

In [87]:
def almost_there(n):
    
    return (abs(100-n)<=10) or (abs(200-n)<=10) # it says if we subtract 'n' from a number does it returns the difference less than equal to 10

In [88]:
almost_there(95)

True

In [89]:
almost_there(204)

True

In [90]:
almost_there(524)

False


# level 2 problems

In [91]:
# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [11]:
def myfunc(mylist):
    
    for num in range(0,len(mylist)-1):
        if mylist[num]==3 and mylist[num+1]==3: # note here inside [] we always write the index position
            return True
        
        
    return False

In [12]:
myfunc([1, 3, 3])

True

In [14]:
myfunc([1, 3, 1, 3])

False

In [15]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [20]:
def myfunc(mystring):
    result=''
    
    for char in mystring:
        result=result+(char+char+char)
    return result

In [21]:
myfunc('cat')

'cccaaattt'

In [22]:
def myfunc(text):
    result=" "
    
    for char in text:
        result+=char*3
    return result

In [23]:
myfunc("cat")

' cccaaattt'

# question black jack

In [25]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [37]:
def blackjack(a,b,c):
    
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in ([a,b,c]) and sum([a,b,c])-10<=21:
        return sum[(a,b,c)]-10
    else:
        return "BUST"

In [38]:
blackjack(5,6,7)

18

In [39]:
blackjack(9,9,9)

'BUST'

# break statement

# break statement is used to jump out of loop to process the next statement in the program

In [43]:
for i in range(10):
    print(i)
    if i==3:
        
        break  # at i==3 it will close the for loop and execute the next statement
        
print("rest of the code")

0
1
2
3
rest of the code

In [44]:
for i in range(10):
    if (i==5):
        break
    print(i)
print("rest of the code")

0
1
2
3
4
rest of the code

# continue statement is used in a loop to go back to the beginning of the loop

In [45]:
# continue will only skip that particular iteration given by us

In [40]:
# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

# challenging problems

In [47]:
# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [1]:
def spy_game(nums):
    
    code=[0,0,7,"x"]
    #[0,7,'x']
    #[7,'x']
    #['x'] length=1
    
    for num in nums:
        if num==code[0]:
            code.pop(0)
    
    return len(code)==1

In [2]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [3]:
spy_game([1,7,2,0,4,5,0])

False

In [4]:
spy_game([1,0,2,4,0,5,7])

True

In [5]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

# methods and function homework lecture 57 and 58

Write a function that computes the volume of a sphere given its radius.

In [7]:
pi=3.14
def myfunc(r):
    volume=(4/3)*pi*r*r*r
    return volume

In [8]:
myfunc(2)

33.49333333333333

In [5]:
def vol(rad):
    return (4/3)*3.14*(rad**3)

In [9]:
vol(2)

33.49333333333333

Write a function that checks whether a number is in a given range (inclusive of high and low)

In [3]:
def myfunc(x,low,high):
    if x>low and x< high:
        print("your number is in range!!")
    else:
        print("out of range")

In [5]:
myfunc(4,2,8)

your number is in range!!

In [6]:
myfunc(6,89,55)

out of range

udemy way!! below

In [11]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [13]:
ran_check(4,2,4)

True

In [14]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f"{num} is in range of {low} and {high}")
    else:
        print("not in range")

In [15]:
ran_check(5,2,7)

5 is in range of 2 and 7

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [27]:
a="hey there"

for char in a :
    print(char.split())

['h']
['e']
['y']
[]
['t']
['h']
['e']
['r']
['e']

In [16]:
def up_low(s):
    lowercase=0
    uppercase=0
    
    for char in s :
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass
        
    print("original string",s)
    print(" lowercase",lowercase)
    print("uppercase",uppercase)

another method!!

In [34]:
def up_low(s):
    d={"upper":0,"lower":0}
    
    for char in s :
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass
        
    print(f"original string :{s}")
    print(f'lowercase : {d["lower"]}')
    print(f'uppercase : {d["upper"]}')

In [35]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

original string :Hello Mr. Rogers, how are you this fine Tuesday?
lowercase : 33
uppercase : 4

Q.Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [36]:
def myfunc(mylist):
    for num in mylist:
        x=set(mylist)
        return x

In [37]:
myfunc([1,1,1,22,22,2,2,33,33,3,3])

{1, 2, 3, 22, 33}

another method to do it!!

In [36]:
def unique_list(lst):
    return list(set(lst))

In [37]:
unique_list([1,11,1,11,1,22,22,22,2,33,33,5,5,66,66,4])

[1, 2, 33, 66, 5, 4, 11, 22]

another method to do it!!

In [74]:
def unique_list(lst):
    seen_numbers=[]
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [75]:
unique_list([1,1,1,1,22,22,22,23,2,2])

[1, 22, 23, 2]

Q.Write a Python function that takes a list and returns a new list with unique elements of the first list

In [76]:
def myfunc(mylist):
    i=0
    product=1
    while(i<len(mylist)):
        product=product*mylist[i]
        i=i+1
    print(product)

In [77]:
myfunc([1,2,5,7,-10])

-700

udemy way!!

In [78]:
def multiply(numbers):
    total=1
    for num in numbers:
        total=total*num
    return total

In [79]:
multiply([1,2,3,4,5,6])

720

Q.Write a Python function that checks whether a word or phrase is palindrome or not.

In [81]:
   def palindrome(s):
        #remove spaces string
        
        s=s.replace(" ", '')
        # check is string is ==reversed version of the string
        return s==s[::-1]

In [83]:
palindrome(" nurses run")

True

Q.Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

In [88]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [89]:
ispangram("The quick brown fox jumps over the lazy dog")

{'f', 'q', 'z', 'p', 'e', 'v', 'x', 'y', 'l', 'c', 'o', 'b', 'h', 'r', 's', 'u', 'm', 'n', 'g', 'd', 'j', 't', 'w', 'k', 'i', 'a'}

True