In [3]:
"hello"[0]

'h'

In [4]:
mystring="hello"

In [5]:
mystring

'hello'

In [6]:
mystring[0]

'h'

In [8]:
print("hello \nworld")

hello
world

In [9]:
print("hello \tworld")

hello 	world

In [10]:
len("hello")

5

In [13]:
#indexing and slicing

In [14]:
mystring="hello world"

In [16]:
mystring[8]

'r'

In [17]:
mystring[-1]

'd'

In [18]:
mystring="abcdefghijklmno"

In [19]:
mystring

'abcdefghijklmno'

In [20]:
mystring[:3]

'abc'

In [21]:
mystring[3:]

'defghijklmno'

In [22]:
mystring[3:6]

'def'

In [25]:
mystring[2:14:2]

'cegikm'

In [28]:
mystring[::1]

'abcdefghijklmno'

In [29]:
mystring[::2]

'acegikmo'

In [30]:
mystring[::-1]

'onmlkjihgfedcba'

In [31]:
# strings are immutable i.e cannot be changed!! so in order to change do the string concatenation!!

In [32]:
name="sam"

In [39]:
lastname=name[1:]

In [41]:
lastname

'am'

In [44]:
"p" +lastname

'pam'

In [55]:
x="hello world"

In [64]:
x= x+" it is beautiful outside"

In [65]:
x

'hello world it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [66]:
#multiplication

In [67]:
letter="z"

In [68]:
letter*10

'zzzzzzzzzz'

In [70]:
#CONCATENATION OF THE NUMBERS IS NOT POSSIBLE, SO DOING THE CONCATENATION OF THE NUMBERS WILL PRODUCE THE ERROR

In [71]:
"2"+"3"

'23'

In [73]:
# SO CONCLUSION IS YOU CANNOT CONCATENATE THE NUMBERS , ONLY IF NUMBERS ARE STRING THEN YOU CAN CONCTENATE THE NUMBER TO GET 23

In [75]:
2+3

5

In [76]:
x="hello world"

In [81]:
x.upper()

'HELLO WORLD'

In [82]:
x.lower()

'hello world'

In [83]:
x

'hello world'

In [84]:
x=x.upper()

In [89]:
x

'HELLO WORLD'

In [90]:
x.split()

['HELLO', 'WORLD']

In [91]:
x="this is my new string"

In [92]:
x.split("i")

['th', 's ', 's my new str', 'ng']

In [94]:
#printing format with strings  .format  method

In [95]:
print("hi {}".format("pankaj") )

hi pankaj

In [96]:
print("hey pankaj {}".format("how are you"))

hey pankaj how are you

In [101]:
print("the {0} {0} {0}".format("quick","brown", "fox" ))

the quick quick quick

In [105]:
print("the {q} {b} {f}".format(q="quick" , b="brown" , f="fox") )

the quick brown fox

In [12]:
print("my name is{}".format(" pankaj"))

my name is pankaj

In [106]:
#FLOAT FORMATING WITH (.FORMAT) METHOD

In [7]:
result=100/777

In [8]:
result

0.1287001287001287

In [9]:
print("the result is {r:1.3f}".format(r=result))

the result is 0.129

In [13]:
result=1000/888

In [15]:
result

1.1261261261261262

In [17]:
print("the result is {r:1.4f}".format(r=result))

the result is 1.1261

In [20]:
result=52512655241646476167/45645665526255266662665

In [21]:
result

0.0011504412223202515

In [26]:
print("the result is {r:2.5f}".format(r=result))

the result is 0.00115

In [27]:
name="pankaj"

In [34]:
print('my name is {}'.format(name))

my name is sam

In [35]:
print(f"my name is {name}")

my name is sam

In [36]:
name="sam"
age=21

In [38]:
print(f"my name is {name} and my age is {age}")

my name is sam and my age is 21

In [39]:
# LISTS

In [40]:
my_list=[0,"mystring",2,3]

In [70]:
my_list[1]   #indexing

'mystring'

In [71]:
my_list[1:]  #slicing

['mystring', 2, 3]

In [73]:
my_list[0]=4  #mutation

In [45]:
my_list

[4, 'mystring', 2, 3]

In [46]:
#list do support concatenation

In [48]:
mylist=[1,2,3,4,5]

In [49]:
anotherlist=[6,7,8,9]

In [50]:
newlist=mylist+anotherlist

In [51]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
#list do support the MUTATION

In [68]:
newlist[0]="ONE IN ALL CAPS"   #indexing

In [69]:
newlist

['ONE IN ALL CAPS', 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
#append

In [58]:
newlist.append(10)

In [59]:
newlist

['ONE IN ALL CAPS', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
newlist.append("eleven")

In [80]:
newlist

['ONE IN ALL CAPS', 3, 4, 5, 6, 7]

In [81]:
# POP

In [82]:
newlist.pop()

7

In [83]:
newlist

['ONE IN ALL CAPS', 3, 4, 5, 6]

In [84]:
newlist.pop(0)

'ONE IN ALL CAPS'

In [85]:
newlist

[3, 4, 5, 6]

In [86]:
newlist.pop(-1)

6

In [102]:
newlist=[1,2,3,4,5,6]

In [105]:
newlist[-1] #negativeindexing

6

In [106]:
#sorting

In [110]:
new_list=['a','b','f','c','z','x']
num_list=[1,9,8,25,23,18,15]

In [111]:
new_list.sort()

In [112]:
new_list

['a', 'b', 'c', 'f', 'x', 'z']

In [113]:
num_list.sort()

In [114]:
num_list

[1, 8, 9, 15, 18, 23, 25]

In [115]:
new_list

['a', 'b', 'c', 'f', 'x', 'z']

In [116]:
num_list

[1, 8, 9, 15, 18, 23, 25]

In [120]:
num_list.reverse()

In [121]:
num_list

[25, 23, 18, 15, 9, 8, 1]

In [122]:
#dictionaries

In [133]:

dic={'key1':"value1" ,"key2" : ["a",1,2,3] ,"key3" : {'insidekey' :300}}

In [134]:

dic["key1"]

'value1'

In [135]:
dic["key2"][3]

3

In [136]:
dic["key3"]["insidekey"]

300

In [138]:
dic["key2"][0].upper()

'A'

In [141]:
dic["key4"]=400

In [142]:
dic

{'key1': 'value1',
 'key2': ['a', 1, 2, 3],
 'key3': {'insidekey': 300},
 'key4': 400}

In [143]:
dic

{'key1': 'value1',
 'key2': ['a', 1, 2, 3],
 'key3': {'insidekey': 300},
 'key4': 400}

In [144]:
dic['key3']=20

In [145]:
dic

{'key1': 'value1', 'key2': ['a', 1, 2, 3], 'key3': 20, 'key4': 400}

In [146]:
dic.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [149]:
dic.values()

dict_values(['value1', ['a', 1, 2, 3], 20, 400])

In [150]:
dic.items()

dict_items([('key1', 'value1'), ('key2', ['a', 1, 2, 3]), ('key3', 20), ('key4', 400)])

In [151]:
#tuples        ()

In [157]:
t=('a',"a",'a','b','c','d','e')

In [158]:
len(t)

7

In [159]:
t[1:]

('a', 'a', 'b', 'c', 'd', 'e')

In [160]:
t[-1]

'e'

In [161]:
t.count('a')

3

In [163]:
t.index("c")

4

In [164]:
myset=set()

In [165]:
myset

set()

In [166]:
myset.add(1)

In [167]:
myset

{1}

In [195]:
myset.add(2)

In [196]:
myset

{1, 2, 3}

In [197]:
myset.add(3)

In [198]:
myset

{1, 2, 3}

In [199]:
myset.add(3)

In [200]:
myset

{1, 2, 3}

In [201]:
mylist=[1,1,1,1,1,2,2,2,2,3,3,3]

In [202]:
set(mylist)

{1, 2, 3}

In [203]:
set("mississippii")

{'i', 'm', 'p', 's'}

In [204]:
#BOOLEANS

In [205]:
True

True

In [212]:
False

False

In [214]:
False

False

In [216]:
True

True

In [217]:
type("True")

str

In [218]:
1==2

False

In [219]:
2==2

True

In [221]:
# NONE TYPE

In [226]:
b=None

In [228]:
b

In [229]:
a=2