In [10]:
# FOR LOOPS

In [11]:
for letter in "hello world":

    
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [15]:

mylist=[1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [17]:
for num in mylist:
    if num%2==0:
        print(num)

2
4
6
8
10

In [26]:
for num in mylist:
    if num%2==0:
        print(f'even number{num}')
        
    else :
        print(f'odd number{num}')

odd number1
even number2
odd number3
even number4
odd number5
even number6
odd number7
even number8
odd number9
even number10

In [32]:
listsum=0

for num in mylist:                 #outside the for loop
    listsum=listsum+num
    
    
print(listsum)

55

In [34]:
listsum=0

for num in mylist:                    #inside the for loop
    listsum=listsum+num

    
    print(listsum)

1
3
6
10
15
21
28
36
45
55

In [43]:
mystring="hello world"

for letter in mystring:
    
    
     print(letter)

h
e
l
l
o

w
o
r
l
d

In [45]:
for letter in "hello world":
    print("COOL")

COOL
COOL
COOL
COOL
COOL
COOL
COOL
COOL
COOL
COOL
COOL

In [69]:
# for loops in LISTS checking out the intentation role ,i.e inside and outside for loops conditions

In [70]:
mylist=[1,2,3]
a=0

for num in mylist:                   # OUTSIDE THE LIST
    a =a +num
                                     
print(f'value is {a}')

value is 6

In [71]:
mylist=[1,2,3,4,5,6,7,8,9,10]
a=0                                     
                                     #inside the for loop  
for num in mylist:
    a=a+num
    
    print(f"number is {a} ")

number is 1
number is 3
number is 6
number is 10
number is 15
number is 21
number is 28
number is 36
number is 45
number is 55

In [72]:
mylist=[1,2,3,4,5,6,7,8,9,10]
a=0

for num in mylist:
    a=a+num
    
print(f"number is {a} ")

number is 55

In [73]:
# for loops in STRINGS

In [75]:
mystring="hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [76]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [78]:
for letter in "hello world":
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [79]:
#TUPLES

In [81]:
tup=(1,2,3)

for items in tup:
    print(items)

1
2
3

In [82]:
#for tuples inside the list

In [83]:
mylist=[(1,2) ,(4,5) ,(7,8)]

In [84]:
len(mylist)

3

In [85]:
for items in mylist:
    print(items)

(1, 2)
(4, 5)
(7, 8)

In [87]:
for a,b in mylist:
    print(a)

1
4
7

In [88]:
for a,b in mylist:
    print(b)

2
5
8

In [89]:
for a,b in mylist:
    print(a)
    print(b)

1
2
4
5
7
8

In [95]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [97]:
#for loop in DICTIONARIES

In [98]:
d={"k1":1 ,"k2":2 ,"k3":3}

for items in d:
    print(items)

k1
k2
k3

In [99]:
d={'k1':1 ,'k2':2 ,'k3':3}

for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [100]:
d={'k1':1 ,'k2':2 ,'k3':3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [101]:
d={'k1':1 ,'k2':2 ,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [102]:
d={'k1':1 ,'k2':2 ,'k3':3}

for key in d.keys():
    print(key)

k1
k2
k3

In [107]:
d={'k1':1 ,'k2':2 ,'k3':3}

for value in d.values():
    print(value)

1
2
3