In [13]:
mystring="abcdefghijk"

In [14]:
mystring

'abcdefghijk'

In [15]:
mystring[:3]

'abc'

In [16]:
mystring[3:6]

'def'

In [17]:
mystring[1:3]

'bc'

In [18]:
mystring[::]

'abcdefghijk'

In [19]:
mystring[::2]

'acegik'

In [20]:
mystring[::1]

'abcdefghijk'

In [21]:
mystring[::3]

'adgj'

In [22]:
mystring[]

SyntaxError: invalid syntax (<ipython-input-22-e6d00cd6ec90>, line 1)

In [ ]:
x="hello wolrd"

In [ ]:
x

In [ ]:
x+" it is beautiful outside"

In [ ]:
x= x+ " it is beautiful outside"

In [ ]:
x

In [ ]:
letter="z"

In [ ]:
letter*10

In [ ]:
"2"+"3"

In [ ]:
2+3

In [ ]:
x="hello world"

In [ ]:
x.upper()

In [ ]:
x

In [ ]:
x.lower()

In [ ]:
x.split()           # to make every word a different string in a list !!

In [23]:
x.split("o")

NameError: name 'x' is not defined

In [29]:
x= "hi this side pankaj the senior education counsellor"

In [30]:
x.split()

['hi', 'this', 'side', 'pankaj', 'the', 'senior', 'education', 'counsellor']

In [31]:
x.upper()

'HI THIS SIDE PANKAJ THE SENIOR EDUCATION COUNSELLOR'

In [32]:
x

'hi this side pankaj the senior education counsellor'

In [33]:
x=x.upper()

In [34]:
x

'HI THIS SIDE PANKAJ THE SENIOR EDUCATION COUNSELLOR'

In [35]:
x.split()

['HI', 'THIS', 'SIDE', 'PANKAJ', 'THE', 'SENIOR', 'EDUCATION', 'COUNSELLOR']

In [36]:
x

'HI THIS SIDE PANKAJ THE SENIOR EDUCATION COUNSELLOR'

In [37]:
x=x.lower()

In [38]:
x

'hi this side pankaj the senior education counsellor'

In [39]:
x.split("i")

['h', ' th', 's s', 'de pankaj the sen', 'or educat', 'on counsellor']

In [40]:
x="hello world"

In [41]:
x

'hello world'

In [42]:
x.upper()

'HELLO WORLD'

In [43]:
x.lower()

'hello world'

In [44]:
x.split()

['hello', 'world']

In [45]:
x.split("l")

['he', '', 'o wor', 'd']

In [46]:
#PRINTING FORMATING WITH THE STRINGS

In [47]:
print('this is a string')

this is a string

In [48]:
print('this is a string{}'.format(' inserted '))

this is a string inserted

In [49]:
print('hi{}'.format(" pankaj "))

hi pankaj

In [50]:
print("hi{} {} {} {}".format(" pankaj","how","you","are"))

hi pankaj how you are

In [51]:
#print formatting with the strings

In [52]:
# NOTE -ALWAYS USE THE BELOW METHOD TO DO THE FORMATTING i.e in the cell number 22 !

In [53]:
print("hi {p} {h} {a} {y}".format( p="pankaj", h="how" , a="are" , y="you"))

hi pankaj how are you

In [54]:
print("hi {h} {h} {h} {h}".format(p="pankaj" , h="how", a= "are", y="you"))

hi how how how how

In [55]:
print("hi {0} {1} {2}  {3}".format("pankaj" , "how " , "are" , "you "))

hi pankaj how  are  you

In [56]:
print("hi {1} {1} {1} {1}".format("pankaj" , "how ", "are ", "you"))

hi how  how  how  how

In [57]:
r =100/777

In [58]:
r

0.1287001287001287

In [59]:
print("the result was {}" .format(r))

the result was 0.1287001287001287

In [60]:
result=100/777

In [61]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.129

In [62]:
print("the result was {r:1.5f}".format(r=result))

the result was 0.12870

In [63]:
name ="jose"

In [64]:
name

'jose'

In [65]:
print(f"my name is {name}")

my name is jose

In [66]:
name = "jose"
age = "5"

In [67]:
print(f"my name is {name} and i am currently {age} years old")

my name is jose and i am currently 5 years old

In [68]:
#lists in python

In [69]:
my_list=["string", "one ", "two"]

In [70]:
len(my_list)

3

In [71]:
my_list[0]

'string'

In [72]:
my_list[2]

'two'

In [73]:
my_list[1:]

['one ', 'two']

In [74]:
#concatenTION IN LIST

In [75]:
mylist=["one ", "two" , "three"]
anotherlist=["four" , "five"]

In [76]:
newlist= mylist+anotherlist

In [77]:
newlist

['one ', 'two', 'three', 'four', 'five']

In [78]:
# mutation is also possible in case of list

In [79]:
newlist

['one ', 'two', 'three', 'four', 'five']

In [80]:
newlist[0]= "ONE IN ALL CAPS"

In [81]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five']

In [82]:
new_list=["1","2","3","4", "5", "6"]

In [83]:
new_list[0]=78

In [84]:
new_list

[78, '2', '3', '4', '5', '6']

In [85]:
new_list

[78, '2', '3', '4', '5', '6']

In [86]:
# adding a new item to the list

In [87]:
new_list.append("7")

In [88]:
new_list

[78, '2', '3', '4', '5', '6', '7']

In [89]:
#removing any item from the list

In [90]:
newlist=['1','2','3','4','5','6']

In [91]:
newlist.pop()

'6'

In [92]:
newlist

['1', '2', '3', '4', '5']

In [93]:
newlist=["ONE IN ALL CAPS" ,'two' ,'three', 'four', 'five',"six","seven"]

In [94]:
poppeditem=newlist.pop()

In [95]:
newlist

['ONE IN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [96]:
newlist =['1 ','2', '3 ', '4' ]

In [97]:
newlist.pop(-1)

'4'

In [98]:
newlist

['1 ', '2', '3 ']

In [99]:
newlist.pop(-1)

'3 '

In [100]:
newlist

['1 ', '2']

In [101]:
newlist=['a','b','c', 't','e','w','s' ,'x']
num_list=[4,8,1,3]

In [102]:
newlist.sort()

In [103]:
newlist

['a', 'b', 'c', 'e', 's', 't', 'w', 'x']

In [104]:
num_list.sort()

In [105]:
num_list

[1, 3, 4, 8]

In [106]:
num_list

[1, 3, 4, 8]

In [107]:
num_list.reverse()

In [108]:
num_list

[8, 4, 3, 1]

In [109]:
#dictionaries

In [110]:
my_dict={'key1 ': "value1" ,'key2 ': 'value 2'}

In [111]:
my_dict

{'key1 ': 'value1', 'key2 ': 'value 2'}

In [112]:
prices_lookup={"apples":2.99 ,"oranges":1.99 ,"milk":5.80}

In [113]:
prices_lookup

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [114]:
prices_lookup["apples"]

2.99

In [115]:
prices_lookup["oranges"]

1.99

In [116]:
d={'k1':123 ,'k2':[0,1,2], 'k3':{'insidekey':100}}

In [117]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}}

In [118]:
d['k2']

[0, 1, 2]

In [119]:
d["k3"]

{'insidekey': 100}

In [120]:
d['k3']['insidekey']

100

In [121]:
d["k2"][2]

2

In [122]:
d["k2"][0]

0

In [123]:
d={'key1':['a','b','c']}

In [124]:
d

{'key1': ['a', 'b', 'c']}

In [125]:
d['key1'][2].upper()

'C'

In [126]:
d={'k1':100 ,"k2":200}

In [127]:
d

{'k1': 100, 'k2': 200}

In [128]:
d["k3"]=300

In [129]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [130]:
d['k1']= 'new value'

In [131]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [132]:
d={'k1': 100, 'k2': 200, 'k3': 300}

In [133]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [134]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [135]:
d.values()

dict_values([100, 200, 300])

In [136]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])