In [3]:
#FOR LOOPS

In [6]:
mylist=[1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
mylist=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in mylist:
    if num %2==0:
         print(f' even number {num}')
    
    else:
        print(f'odd number{num}')

odd number1
 even number 2
odd number3
 even number 4
odd number5
 even number 6
odd number7
 even number 8
odd number9
 even number 10

In [27]:
a=0

for num in mylist:
    a=a+num
    
    print(f"value of a is {a}")

value of a is 1
value of a is 3
value of a is 6
value of a is 10
value of a is 15
value of a is 21
value of a is 28
value of a is 36
value of a is 45
value of a is 55

In [28]:
a=0

for num in mylist:
    a=a+num
    
print(f"value of a is {a}")

value of a is 55

In [29]:
#FOR LOOPS IN STRINGS

In [30]:
mystring="hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [33]:
mystring="hello world"

for letter in mystring:
    print("cool!!")

cool!!
cool!!
cool!!
cool!!
cool!!
cool!!
cool!!
cool!!
cool!!
cool!!
cool!!

In [34]:
#tuples

In [36]:
tup=(1,2,3)

for num in tup:
    print(num)

1
2
3

In [38]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]

for items in mylist:
    print(items)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [39]:
mylist=[(1,2,3) ,(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [40]:
for a,b,c in mylist:
    print(a)

1
4
7

In [42]:
for a,b,c in mylist:
    print(b)

2
5
8

In [43]:
for a,b,c in mylist:
    print(c)

3
6
9

In [46]:
#DICTIONARIES

In [47]:
d={'k1':1 ,'k2':2 ,'k3':3}

for items in d:
    print(items)

k1
k2
k3

In [55]:
d={"k1":1, "k2":2, "k3":3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [56]:
d={'k1':1, 'k2':2 ,'k3':3}

for keys in d.keys():
    print(keys)

k1
k2
k3

In [57]:
d={'k1':1, 'k2':2 ,'k3':3}

for values in d.values():
    print(values)

1
2
3

In [3]:
d={'k1':1, 'k2':2 ,'k3':3}

for key,value in d.items():
    
    print(key)

k1
k2
k3

In [4]:
d={'k1':1, 'k2':2 ,'k3':3}

for key,value in d.items():
    
    print(value)

1
2
3