In [4]:
x,y=8,10

In [5]:
x

8

In [6]:
y

10

In [2]:
x='hello'

In [2]:
x=x+' world it is beautiful outside'

In [3]:
x

'hello world it is beautiful outside'

In [4]:
letter='z'

In [5]:
letter*10

'zzzzzzzzzz'

In [6]:
x="hello world"

In [7]:
x.upper()

'HELLO WORLD'

In [8]:
x

'hello world'

In [9]:
x.lower()

'hello world'

In [10]:
x.split()

['hello', 'world']

In [11]:
x.split('o')

['hell', ' w', 'rld']

In [12]:
x="hi i am soon going to delhi for programming purpose"

In [13]:
x.upper()

'HI I AM SOON GOING TO DELHI FOR PROGRAMMING PURPOSE'

In [14]:
x.lower()

'hi i am soon going to delhi for programming purpose'

In [15]:
x.split()

['hi',
 'i',
 'am',
 'soon',
 'going',
 'to',
 'delhi',
 'for',
 'programming',
 'purpose']

In [16]:
x.split('i')

['h', ' ', ' am soon go', 'ng to delh', ' for programm', 'ng purpose']

In [17]:
#printing format with the strings

In [7]:
print("hii", end=" ")
print("how are u")

hii how are u

In [8]:
chd=122 # we call numbers as integers
print(" A=",chd,"value")

 A= 122 value

In [10]:
def main():    # function chpter!!
    x,y = 10,8
    st = "x is less than y" if (x < y) else "x is greater than or equal to y"
    print(st)

In [13]:
main()         # function chapter !!

x is greater than or equal to y

In [18]:
print('hi {} {} {} {}'.format('pankaj' ,'how' ,'are' ,'you'))

hi pankaj how are you

In [19]:
print('this {} {} {}'.format('is','a','notebook'))

this is a notebook

In [20]:
print('hey {} {} {}'.format('this', 'is' ,'it'))

hey this is it

In [2]:
result=100/777

In [4]:
print('the ans is {r:2.3f}'.format(r=result))

the ans is 0.129

In [23]:
result=100/777

In [24]:
print('the result is {r:1.4f}'.format(r=result))

the result is 0.1287

In [9]:
result=522/458769

In [10]:
print('the result is {r:1.4f}'.format(r=result))

the result is 0.0011

In [11]:
result=100/4445

In [12]:
print(f'the result is {r:1.4f}'.format(r=result))

NameError: name 'r' is not defined

In [ ]:
result=100/777

In [ ]:
print('the result is {r:1.4f}'.format(r=result))

In [ ]:
result=4536/458789

In [ ]:
print('the result is {r:2.4f}'.format(r=result))

In [ ]:
# f strings formatted literal

In [ ]:
name='pankaj'
age=25

In [ ]:
print(f'hi my name is {name} and my age is {age}')

In [ ]:
name= 'pankaj'
age=25
address='house no. 22 type 2 I.T.B.P campus btc bhanu '

In [ ]:
print(f'hi my name is {name} and my age is {age} my address is {address} ')

In [ ]:
#lists in python

In [1]:
mylist=['one','02',"three"]

In [2]:
mylist[0]  #indexing

'one'

In [3]:
mylist[2]

'three'

In [4]:
mylist[0:2]               #slicing

['one', '02']

In [5]:
mylist=[1,2,3]
anotherlist=['one','two','three']          #concatenation

In [6]:
newlist=mylist+anotherlist                #concatenation

In [7]:
newlist

[1, 2, 3, 'one', 'two', 'three']

In [8]:
newlist

[1, 2, 3, 'one', 'two', 'three']

In [9]:
newlist[1:]

[2, 3, 'one', 'two', 'three']

In [10]:
newlist[1:5:1]

[2, 3, 'one', 'two']

In [11]:
newlist[0]='ONE IN ALL CAPS'       #mutation

In [12]:
newlist

['ONE IN ALL CAPS', 2, 3, 'one', 'two', 'three']

In [13]:
#append

In [14]:
newlist.append('four')

In [15]:
newlist

['ONE IN ALL CAPS', 2, 3, 'one', 'two', 'three', 'four']

In [16]:
newlist.pop()

'four'

In [17]:
newlist

['ONE IN ALL CAPS', 2, 3, 'one', 'two', 'three']

In [18]:
newlist.pop(-1)

'three'

In [19]:
newlist

['ONE IN ALL CAPS', 2, 3, 'one', 'two']

In [20]:
newlist=['a','b','f','c','z','k','l','m','i']

In [21]:
newlist.sort()

In [22]:
newlist

['a', 'b', 'c', 'f', 'i', 'k', 'l', 'm', 'z']

In [23]:
numlist=[1,9,5,50,42,12,1,5,6]

In [24]:
numlist.sort()

In [25]:
numlist

[1, 1, 5, 5, 6, 9, 12, 42, 50]

In [26]:
numlist.reverse()

In [27]:
numlist

[50, 42, 12, 9, 6, 5, 5, 1, 1]

In [28]:
mydict={'key1':20 ,'key2':25, 'key3':52}

In [29]:
mydict['key1']

20

In [30]:
mydict['key3']

52

In [31]:
pricelookup={'apple':50 ,'oranges':20 , 'grapes':56}

In [32]:
pricelookup['apple']

50

In [33]:
d={'k1':25 ,'k2':56 , 'k3':56}

In [34]:
d['k3']

56

In [35]:
d={'k1':123 ,'k2':[1,2,3],'k3':{'key3':'value4'}}

In [36]:
d['k1']

123

In [37]:
d['k2'][1]

2

In [38]:
d['k3']['key3']

'value4'

In [39]:
d={'k1':['a','b','c']}

In [40]:
letter=d['k1'][2]

In [41]:
letter.upper()

'C'

In [42]:
d

{'k1': ['a', 'b', 'c']}

In [43]:
d['k1'][2].upper()

'C'

In [44]:
#inorder to add something new to your dictionary

In [45]:
 d={'k1':123 ,'k2':[1,2,3],'k3':{'key3':'value4'}}

In [46]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'key3': 'value4'}}

In [47]:
d['k4']=300

In [48]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'key3': 'value4'}, 'k4': 300}

In [51]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [53]:
d.values()

dict_values([123, [1, 2, 3], {'key3': 'value4'}, 300])

In [54]:
d.items()

dict_items([('k1', 123), ('k2', [1, 2, 3]), ('k3', {'key3': 'value4'}), ('k4', 300)])

In [55]:
#tuples

In [56]:
t=(1,22,3,45)

In [57]:
type(t)

tuple

In [58]:
len(t)

4

In [59]:
#slicing

In [60]:
t[1:3]

(22, 3)

In [61]:
t[0]

1

In [62]:
t[-1]

45

In [63]:
# methods in tuple
# 1. index method.
# 2. count method.

In [64]:
t=('a','b','c','a')

In [65]:
t.count('a')

2

In [66]:
t.index('c')

2

In [67]:
#sets  - only accept the unique values

In [68]:
myset=set()

In [69]:
myset

set()

In [70]:
myset.add(1)

In [71]:
myset

{1}

In [72]:
myset.add(2)

In [73]:
myset

{1, 2}

In [74]:
myset.add(2)

In [75]:
myset

{1, 2}

In [76]:
#converting a list to a set

In [77]:
mylist=[1,1,1,1,1,2,2,2,3,3,3,3,3,3,3,3,3]

In [78]:
set(mylist)

{1, 2, 3}

In [79]:
set('mississippi')

{'i', 'm', 'p', 's'}

In [80]:
#BOOLEANS

In [81]:
True

True

In [82]:
False

False

In [83]:
type(True)

bool

In [84]:
type(False)

bool

In [85]:
1>3

False

In [86]:
2>1

True

In [87]:
1==1

True

In [88]:
b=None

In [89]:
type(b)

NoneType

In [90]:
# input output with basic files in python

In [91]:
# to write a new file

In [92]:
with open("pkjfile.txt",mode='w')as f:
    f.write("THIS IS THE FIRST LINE \n THIS IS THE SECOND LINE \n THIS IS THE THIRD LINE")

In [93]:
myfile=open("pkjfile.txt")

In [94]:
myfile.read()

'THIS IS THE FIRST LINE \n THIS IS THE SECOND LINE \n THIS IS THE THIRD LINE'

In [95]:
myfile.read()

''

In [96]:
myfile.seek(0)

0

In [97]:
myfile.read()

'THIS IS THE FIRST LINE \n THIS IS THE SECOND LINE \n THIS IS THE THIRD LINE'

In [98]:
# we can also give a variable name to the read command

In [99]:
myfile.seek(0)

0

In [100]:
contents=myfile.read()

In [101]:
contents

'THIS IS THE FIRST LINE \n THIS IS THE SECOND LINE \n THIS IS THE THIRD LINE'

In [102]:
myfile.seek(0)

0

In [103]:
myfile.readlines()

['THIS IS THE FIRST LINE \n',
 ' THIS IS THE SECOND LINE \n',
 ' THIS IS THE THIRD LINE']

In [104]:
with open ("pkjfile.txt",mode='w')as f:
    f.write(" this is the first line \n ,this is the second line \n ,this is the third line")

In [105]:
with open("pkjfile.txt",mode='r') as f:
    print(f.read())

 this is the first line
 ,this is the second line
 ,this is the third line

In [106]:
with open("pkjfile.txt",mode='a') as f:
    f.write('\n this is the fourth line')

In [107]:
with open ("pkjfile.txt", mode="r") as f:
    print(f.read())

 this is the first line
 ,this is the second line
 ,this is the third line
 this is the fourth line

In [108]:
#equality and other comparision operators

In [109]:
1==1

True

In [110]:
2==3

False

In [111]:
"Bye"=="bye"

False

In [112]:
"2"==2

False

In [113]:
2.0==2

True

In [114]:
#not equal(!=)

In [115]:
3!=3

False

In [116]:
4!=3

True

In [117]:
4!=5

True

In [118]:
4!=4

False

In [119]:
#greater than operaor(>)

In [120]:
2>1

True

In [121]:
3>1

True

In [122]:
1>3

False

In [123]:
#greater than equal to

In [124]:
3>=2

True

In [125]:
4<=1

False

In [126]:
1<2 and 2<3

True

In [127]:
1<2 and 2>3

False

In [128]:
"h"=='h' and 2==2

True

In [129]:
#or operator

In [130]:
1==1 or 100==1

True

In [131]:
#not operator

In [132]:
1==1

True

In [133]:
not 1==1

False

In [134]:
400>5000

False

In [135]:
not 400>5000

True

In [136]:
# if elif and else statement

In [137]:
    if 3>2:
        print("its true")

its true

In [138]:
hungry=True

if hungry:
    print("feed me")

feed me

In [139]:
hungry= False

if hungry:
    print("feed me")
else:
    print("i am not hungry")

i am not hungry

In [140]:
loc="chandigarh"

if loc=="chandigarh":
    print("it is a beautiful city")
elif loc=="delhi":
    print("it is a dirty place")
else:
    print("i dont know much")

it is a beautiful city

In [141]:
# for loops

In [142]:
mylist=[1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [143]:
mylist=[1,2,3,4,5,6,7,8,9,10]

for item in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [144]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [145]:
for num in mylist:
    if num%2==0:
        print(f'even number is {num}')
    else:
        print(f'odd number is {num}')

odd number is 1
even number is 2
odd number is 3
even number is 4
odd number is 5
even number is 6
odd number is 7
even number is 8
odd number is 9
even number is 10

In [146]:
# example of indentation

In [147]:
x=0

for num in mylist:
    x=x+num
print(x)

55

In [148]:
x=0

for num in mylist:
    x=x+num
    print(x)

1
3
6
10
15
21
28
36
45
55

In [149]:
# for loop in case of strings

In [150]:
mystring="hello world"

In [151]:
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [152]:
for letter in mystring:
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [153]:
# for loop in tuple

In [154]:
tup=(1,2,3)

In [155]:
type(tup)

tuple

In [156]:
for item in tup:
    print(item)

1
2
3

In [157]:
mylist=[(1,2) ,(3,4) ,(5,6) ,(7,8)]

In [158]:
len(mylist)

4

In [159]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [160]:
# tuple unpacking

In [161]:
for a,b in mylist:
    print(a)
    print(b)
    print('\n')

1
2


3
4


5
6


7
8

In [162]:
for a,b in mylist:
    print(a)

1
3
5
7

In [163]:
for a,b in mylist:
    print(b)

2
4
6
8

In [164]:
mylist=[(100,2,32) ,(14,56,89) ,(6,9,8)]

for item in mylist:
    print(item)

(100, 2, 32)
(14, 56, 89)
(6, 9, 8)

In [165]:
for a,b,c in mylist:
    print(b)

2
56
9

In [166]:
#dictionaries

In [167]:
d={'k1':1 ,'k2':2 ,'k3':3}

In [168]:
for item in d:
    print(item)

k1
k2
k3

In [169]:
d={'k1':1 ,'k2':2 ,'k3':3}

In [170]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [171]:
for keys in d.keys():
    print(keys)

k1
k2
k3

In [172]:
for values in d.values():
    print(values)

1
2
3

In [173]:
for key,value in d.items():
    print(key)
    print(value)
    print('\n')

k1
1


k2
2


k3
3

In [174]:
#while loop

In [175]:
x=0
while x<5:
    print(f'the value of x is {x}')
    x=x+1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [176]:
x=0
while x<5:
    print(f'the value of x is {x}')
    x+=1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [177]:
#using while and else together

In [180]:
x=0
while x<5:
    print(f'the value of x is {x}')
    x+=1
else:  
    print(f'the value of x is not less than 5')

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
the value of x is not less than 5

In [181]:
#keywords BREAK,CONTINUE,PASS

In [182]:
mystring='sammy'

In [184]:
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

s
m
m
y

In [185]:
mystring="sammy"

In [186]:
for letter in mystring:
    if letter =="a":
        break
    print(letter)

s

In [187]:
x=0

while x<5:
    if x==3:
        break
    print(f'the value of x is {x}')
    x+=1

the value of x is 0
the value of x is 1
the value of x is 2

In [188]:
#useful operators in python

In [189]:
#range operator

In [190]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [191]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [193]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [196]:
range(0,11,2) #generator (it is a generator here)

range(0, 11, 2)

In [197]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [199]:
#enamurate function

In [200]:
word='abcdefgh'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [201]:
word="abcdefghij"

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f


6
g


7
h


8
i


9
j

In [202]:
# zip function

In [204]:
mylist1=[1,2,3]
mylist2=['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [205]:
mylist1=[1,2,3,4,5,6,7]
mylist2=['a','b','c']
mylist3=[100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [207]:
list(zip(mylist2,mylist3))

[('a', 100), ('b', 200), ('c', 300)]

In [208]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [210]:
# in operator

In [211]:
'x'in [1,2,3]

False

In [212]:
'x' in ['x','y','z']

True

In [213]:
'x' in "word"

False

In [214]:
'x'in "xmas tree"

True

In [215]:
'mykey' in{'mykey':345}

True

In [216]:
d={"key1":32}

In [217]:
32 in d.values()

True

In [218]:
d={'key2':56}

In [219]:
"key2" in d.keys()

True

In [220]:
# min and max function

In [221]:
mylist=[10,20,30,40,50]

In [222]:
min(mylist)

10

In [223]:
max(mylist)

50

In [224]:
#libraries

In [225]:
from random import shuffle

In [226]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [230]:
shuffle(mylist)

In [231]:
mylist

[4, 7, 3, 10, 1, 2, 8, 5, 9, 6]

In [232]:
#randint function

In [236]:
from random import randint

In [237]:
randint(0,100)

84

In [238]:
randint(0,20)

8

In [239]:
mynum=randint(0,20)

In [240]:
mynum

6

In [242]:
input("enter a number here :")

enter a number here :pankaj

'pankaj'

In [243]:
result=input("what is your favourite number")

what is your favourite number20

In [245]:
result

'20'

In [246]:
type(result)

str

In [247]:
float(result)

20.0

In [248]:
int(result)

20

In [250]:
result=int(input("enter your favourite number"))

enter your favourite number20

In [251]:
result

20

In [252]:
type(result)

int

In [1]:
#list comprehension in python

In [2]:
#earlier

In [2]:
mystring="hello"

In [3]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
#now using list comprehension

In [9]:
mystring="hello"

In [10]:
mylist=[letter for letter in mystring]

In [11]:
mylist

['h', 'e', 'l', 'l', 'o']

In [12]:
mylist=[letter for letter in "word"]

In [13]:
mylist

['w', 'o', 'r', 'd']

In [18]:
mylist=[num for num in range(0,11)]

In [19]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
mylist=[num**2 for num in range(0,11)]

In [21]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
# we can use if statement in list comprehension

In [23]:
mylist=[num for num in range(0,11) if num%2==0]

In [24]:
mylist

[0, 2, 4, 6, 8, 10]

In [25]:
mylist=[num**2 for num in range(0,11) if num%2==0]

In [26]:
mylist

[0, 4, 16, 36, 64, 100]

In [27]:
celcius=[0,10,20,34.5]

In [28]:
farenhite=[((9/5)*temp +32) for temp in celcius]

In [30]:
farenhite

[32.0, 50.0, 68.0, 94.1]

In [31]:
result=[num if num %2==0 else "odd" for num in range(0,11)]

In [32]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [34]:
# nested loop in list comprehension

In [35]:
#earlier

In [36]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [37]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [38]:
# now using list comprehension

In [39]:
mylist=[x*y for x in [1,2,3] for y in [100,200,300]]

In [40]:
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [13]:
# (43) . basic of python function

In [1]:
def say_hello():
    print("hello")

In [2]:
say_hello()

hello

In [3]:
def say_hello():
    print("hello")
    print("how are")
    print("you")

In [4]:
say_hello()

hello
how are
you

In [7]:
# now putting some parameters or arguments inside our created function

In [19]:
def my_func(name):
    print(f'hey {name}') # using f string literals # also note everything will be inside the intended block which means anything inside the intended block is going to be callled when you execute the function !!

In [18]:
my_func('pankaj')

hey pankaj

In [3]:
def say_hello(name):
    print(f' hii {name}')

In [6]:
say_hello('pankaj')

 hii pankaj

In [29]:
def name_of_function(name):
    print( "hello" + name)   # concatenation

In [32]:
name_of_function(' pankaj')

hello pankaj

In [11]:
# now if we forget to put something inside the () in the last step then we can assign name=some variable in 1st step as a default in our created function

In [12]:
def name_of_func(name):
    print("hello" + name )

In [13]:
name_of_func(' pankaj')

hello pankaj

In [14]:
def name_of_func(name='default'):
    print(f' hello {name}')

In [17]:
name_of_func() # if we forget to put something in ()

 hello default

In [8]:
def add_num(num1,num2):
    return num1 + num2          #return k saath wo chiz hogi jo hume chahiye when run our function

In [11]:
add_num(10,20)

30

In [49]:
#also as we are using return here we can do this in this way to-

In [50]:
result=add_num(10,20)

In [51]:
result

30

In [53]:
# difference b/w return and print!!

In [13]:
# print

In [14]:
def print_result(num1,num2):
    print(num1+num2)

In [15]:
print_result(10,20)  # no new cell is allocated to it!! just printing

30

In [16]:
result=print_result(10,20)

30

In [19]:
result   #note : here after running (result)  we won't get anything as in case of print statements we can't assign it to a variable!! as nothing will be assigned to the variable here!!{here variable means 'the variable assigned while running the func i.e (result)' }

In [21]:
type(result)   # here also type will be none type

NoneType

In [66]:
# return

In [23]:
def return_result(num1,num2):
    return num1 + num2

In [24]:
return_result(10,20) # cell got allocated to our output # not just printing as in case of using print function!!

30

In [25]:
# now we can also assign a variable to it

In [26]:
result=return_result(10,20)

In [27]:
result

30

In [75]:
# note we can use both return and print inside or indentation of the created function

In [81]:
def my_func(a,b):
    print(a+b)
    return a+b

In [82]:
my_func(10,20)

30

30

In [83]:
# or assigning it to a variable

In [87]:
result=my_func(10,20)  # here we get ~ printed result -- as no new cell is allocated to it!!

30

In [90]:
result  # here we get ~ return result -- as new cell is allocated to it

30

In [92]:
# now checking the data types of the variables inside our created function

In [29]:
def sum_numbers(num1,num2):  # as python is dynamically typed , which means we don't need to specify beforehand what data type we expect num1 and num2 to be!!
    return num1+num2

In [30]:
sum_numbers(10,20) # variable inside our function as integer

30

In [31]:
sum_numbers('10','20')  # variable inside our function as string

'1020'

In [34]:
sum_numbers("pankaj"," kumar") #so we can put any data type inside our function !! and we don't need to define everytime what datatype we are using!!

'pankaj kumar'

In [101]:
# logic with python function

In [103]:
# function with logic

In [105]:
# mod operator

In [106]:
2%2

0

In [107]:
3%2

1

In [108]:
# we can use mod operator in order to check even and odd numbers

In [109]:
20%2==0   # boolean check

True

In [39]:
21%2==0 # boolean check   # " == " says ki kya L.H.S hamare R.H.S k barabr hai?? and uske return mai humko boolean milta hai........ where as "=" assign a value to variable. example ~ "x=4"

False

In [124]:
def even_check(number):
    result=number%2==0
    return result

In [125]:
even_check(20)

True

In [126]:
even_check(21)

False

In [127]:
def even_check(number):
    return number%2==0

In [128]:
even_check(10)

True

In [129]:
even_check(21)

False

In [41]:
# return true if any number inside the list is even!!

In [40]:
def check_even_list(my_list):    # here mylist is going to be passed by the user while calling this function!!
    for number in my_list:
        if number%2==0:
            return True
        else:
            pass

In [44]:
check_even_list([21,11,3]) # here it just passed it as no even number inside it

In [140]:
check_even_list([20,10,3]) # here mylist is going to be passed by the user

True

In [141]:
check_even_list([1,1,2])

True

In [143]:
# if we want to return false then  avoid the below given mistake !!!!

In [148]:
def check_even_list(my_list):
    for number in my_list:
        if number%2==0: 
            return True    # Notice here how return breaks out of the loop and exits the function
        else:
            return False # NEVER RETURN FALSE LIKE THIS!!

In [149]:
check_even_list([1,2,31]) # here even we have even number in it ..it will still return false as here it is only essentially going to check the 1st number only since there is a return call on either condition that the first has!!

False

In [151]:
# so avoid above given mistake !!

In [152]:
# so to provide false

In [159]:
def check_even_list(my_list):
    for number in my_list:
        if number%2==0:
            return True
        else:
            pass    # pass is very useful when we require multiple return statements
        
        
    return False   # note return should be at the same indentation level as of (for) condition

In [160]:
check_even_list([21,2,3])

True

In [161]:
check_even_list([1,1,3])

False

In [162]:
# returning all the even numbers in a list!!

In [164]:
def even_check_list(my_list):
    
    even_numbers=[]
    
    for number in my_list:
        if number%2==0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [165]:
even_check_list([10,2,35,64,7])

[10, 2, 64]

In [166]:
even_check_list([1,3,5])

[]

In [2]:
# TUPLE UNPACKING WITH PYTHON FUNCTION

In [9]:
#i.e here we can loop through a list of tuples and impact the values within them

In [10]:
stock_prices=[('apple',200),('google',400) ,('msft',100)]

In [12]:
for items in stock_prices:
    print (items)

('apple', 200)
('google', 400)
('msft', 100)

In [13]:
# now here we can also do the tuple unpacking

In [15]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [1]:
# employee of the month calculate:

In [45]:
work_hours=[('x',100),('y',200),('z',300)]

In [46]:
def employee_check(abc):
    max_hour=0
    employee_of_the_month=''
    for employee,hours in work_hours:
        if hours>max_hour:
            max_hour=hours
            employee_of_the_month=employee
        else:
            pass
        
    return max_hour,employee_of_the_month

In [47]:
employee_check(work_hours)

(300, 'z')

In [48]:
result=employee_check(work_hours)

In [49]:
result

(300, 'z')

In [50]:
hours,employee=employee_check(work_hours)  # doing tuple unpackinhg here

In [39]:
hours

300

In [40]:
employee

'z'

In [32]:
item=employee_check(work_hours)

In [33]:
item

(300, 'z')

In [51]:
work_hours=[('x',100),('y',200),('z',300)]

In [52]:
def employee_check(work_hours):
    max_hour=0
    employee_of_the_month=''
    for employee,hours in work_hours:
        if hours>max_hour:
            max_hour=hours
            employee_of_the_month=employee
        else:
            pass
        
    return max_hour,employee_of_the_month

In [53]:
employee_check(work_hours)

(300, 'z')

In [55]:
# INTERACTION BETWEEN PYTHON FUNCTIONS:

In [56]:
# SHUFFLE FUNCTION WORK-

In [57]:
from random import shuffle

In [58]:
example=[1,2,3,5,6,48,7]

In [59]:
shuffle(example)

In [60]:
example

[2, 6, 3, 5, 7, 1, 48]

In [63]:
# but we cant assign a variable name to shuffle function i.e

In [64]:
result=shuffle(example)

In [65]:
result

In [67]:
# as shuffle does not return us anything as it is a inplace function

In [69]:
# so in order to overcome such problem

In [72]:
def shuffle_list(xyz):
    for item in xyz:
        shuffle(xyz)
    return xyz

In [73]:
shuffle_list([1,3,5,6,78,9])

[9, 1, 5, 6, 78, 3]

In [74]:
my_list=[12,56,8,9,7,4,5,6,9]

In [75]:
shuffle_list(my_list)

[8, 6, 5, 9, 12, 9, 4, 7, 56]

In [77]:
# now we can also assign some variable to our called function

In [78]:
result=shuffle_list([1,6,5,89,455,47,3])

In [79]:
result

[5, 1, 89, 47, 6, 455, 3]

In [131]:
# now creating the game (three cup monte)

In [132]:
# first of all shuffling the ball

In [ ]:
mylist=['','','O']

In [ ]:
def my_func(mylist):
    shuffle(mylist)
    return mylist

In [ ]:
my_func(mylist)

In [ ]:
# now taking the player guess

In [ ]:
def player_guess(guess):
    
    guess=''
    

    guess=input("pick a number!: 0,1, or 2")

In [ ]:
# now in order to check that the guess is actually correct we could add in some extra code here

In [ ]:
# here we can us the while loop to make sure that the input is correct!!

In [ ]:
def player_guess():
    
    guess='' # we start off with a placeholder of the user guess and user can guess essentially 0,1,2 as index position
    
    while guess not in['0','1','2']:
    # while our guess is not in [our defined parameters] keep asking the below given statement 
        
        guess=input("pick a number!: 0,1, or 2")
        
        
    return int(guess) 
# here we use int version of guess bcoz input function which is just defined above return the string version of any input given to it!!

In [ ]:
player_guess()

In [ ]:
# now creating a function to combine the shuffled list ( in which our ball is present) with player guess

In [ ]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print("correct!")
    else:
        print("wrong guess !")
        print(mylist)

In [ ]:
# initial list

mylist=['','','O']

#shuffle list

mixedup_list=shuffle_list(mylist)

#user guess

guess=player_guess()

#check guess
check_guess(mixedup_list,guess)

In [1]:
# *args and **kwargs

In [2]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [3]:
myfunc(10,20)

1.5

In [5]:
# so as we can see that a,b are the positional arguments which we have to predefine ..so inorder to accept multiple arguments we use args

In [6]:
def myfunc(*args):
    return sum(args)*0.05

In [7]:
myfunc(10,20,30)

3.0

In [8]:
# note args returns us the value in the form of tuple

In [10]:
def myfunc(*args):
    return args

In [11]:
myfunc(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [12]:
# **kwargs - it basically return us back the dictionary of key value pairs

In [14]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('my favourite fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("i don't find any fruit here")

In [17]:
    myfunc(fruit='apple' ,veggie='ladyfinger')

my favourite fruit of choice is apple

In [18]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my favourite fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("i don't find any fruit here")

In [19]:
myfunc(fruit='apple',veggie='ladyfinger')

{'fruit': 'apple', 'veggie': 'ladyfinger'}
my favourite fruit of choice is apple

In [20]:
# note we can use args and kwargs both inside our function

In [21]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('my i need  {} {}'.format(args[0],kwargs['fruit']))

In [22]:
myfunc(10,20,30,fruit='apple',veggie='tomato')

(10, 20, 30)
{'fruit': 'apple', 'veggie': 'tomato'}
my i need  10 apple