In [2]:
#comparision operators in python

In [3]:
# 1.   ==(equality)

In [4]:
1==1

True

In [5]:
2==3

False

In [7]:
"Bye"=='bye'

False

In [8]:
# 2.   not equal(!=)

In [9]:
3!=3

False

In [10]:
4!=3

True

In [11]:
# greater than operator (>)

In [12]:
2>1

True

In [13]:
1<2

True

In [14]:
#3 . greater than or equal to(>=)

In [15]:
2>=2

True

In [16]:
4<=1

False

In [18]:
#chaining comp[arision operator

In [19]:
1<2>3

False

In [22]:
1<2 and 2>3   # both needed to be true in order to get TRUE

False

In [23]:
# note we can compare both string and number together

In [24]:
'h'=='h' and '2'=='2'

True

In [35]:
# (OR ) operator:  only one needs to be true

In [36]:
100==1 or 2==2

True

In [30]:
1==1

True

In [40]:
#NOT OPERATOR : in order to get the opposite boolean

In [41]:
not(1==1)  # with prentecies

False

In [43]:
not 1==1   # without prentecies

False

In [44]:
# if elif and else statement

In [45]:
if 3>2 :
    print("its true")

its true

In [59]:
hungry=  True     # ( 't' must be in capital as 'True' is boolean )

if hungry:
    print("feed me")

feed me

In [60]:
hungry = False             # ( 'f' must be in capital as 'False' is boolean )  

if hungry:
    print('feed me')
else:
    print(' i am not hungry')

 i am not hungry

In [62]:
loc="delhi"

if loc=='chandigarh':
    print("it is a  beautiful city")
elif loc=="delhi":
    print("it is a dirty place")
else:
    print("i dont know about the location")

it is a dirty place

In [3]:
loc="india"

if loc=="pakistan":
    print("terrorism")
elif loc=="india":
    print("beautiful country")
else:
    print("don't know much")

beautiful country

In [4]:
#for loops in python

In [6]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [8]:
for num in mylist:     # we can call num anything acc to our choice
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [10]:
for num in mylist :
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [38]:
for num in mylist:
    
    if num%2==0:
        print(f'even number is {num}')
        
    else:
        print(f'odd number is {num}')

odd number is 1
even number is 2
odd number is 3
even number is 4
odd number is 5
even number is 6
odd number is 7
even number is 8
odd number is 9
even number is 10

In [36]:
for num in mylist:
    if num%2==0:
        print(f'even number{num}')
        
    else :
        print(f'odd number{num}')

odd number1
even number2
odd number3
even number4
odd number5
even number6
odd number7
even number8
odd number9
even number10

In [4]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [5]:
x=0

for num in mylist:    #outside the for loop
    x=x+num
print(x)

55

In [7]:
x=0

for num in mylist:  #inside the for loop
    x=x+num
    print(x)

1
3
6
10
15
21
28
36
45
55

In [41]:
mystring="hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [42]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [43]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [44]:
mylist=[(1,2) , (3,4) , (5,6) , (7,8)]

In [45]:
len(mylist)

4

In [46]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [12]:
mylist=[(1,2) , (3,4) , (5,6) , (7,8)]

In [13]:
for a,b in mylist:
    print(a)
    print(b)     
    print('\n')

1
2


3
4


5
6


7
8

In [14]:
for a,b in mylist:
    print(a)

1
3
5
7

In [15]:
mylist=[(1,2,3) , (4,5,6) , (7,8,9)]

In [16]:
for a,b,c in mylist:
    print(b)

2
5
8

In [17]:
d={'k1':1 , 'k2':2 , 'k3':3}

In [18]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [19]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [20]:
for key,value in d.items():
    print(value)

1
2
3

In [21]:
# while loops

In [22]:
x=0

while x<5:
    print(f'the value of x is {x}')
    x=x+1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [4]:
x=0

while x<5:
    print(f'value of x is {x}')
    x+=1
else:
    print(f'value of x is not less than 5 ')

value of x is 0
value of x is 1
value of x is 2
value of x is 3
value of x is 4
value of x is not less than 5

In [5]:
#keywords - Break, continue ,pass

In [6]:
mystring="sammy "

In [7]:
for letter in mystring:
    print(letter)

s
a
m
m
y

In [12]:
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

s
m
m
y

In [4]:
mystring="hey iam pankaj kumar"

for letter in mystring:
    if letter=='a':
        continue
    print(letter)

h
e
y

i
m

p
n
k
j

k
u
m
r

In [5]:
mystring="hey my name is pankaj"

for letter in mystring:
    if letter =='k':
        break
    print(letter)

h
e
y

m
y

n
a
m
e

i
s

p
a
n

In [7]:
mystring="jakarta"

for letter in mystring:
    if letter =='k':
        break
    print(letter)

j
a

In [15]:
x=0

while x<5:
    if x==2:
        break
    print(f'the value of x is {x}')
    x+=1

the value of x is 0
the value of x is 1

In [ ]:
x=0

while x<5:
    if x==2:
        continue
    print(f'the value of x is {x}')
    x+=1

In [ ]:
# useful operators in python

In [ ]:
#range operator

In [5]:
for num in range (0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(3,11):
    print(num)

3
4
5
6
7
8
9
10

In [9]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [10]:
#enumerate function

In [15]:
word="abcdefgh"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [16]:
word='pankajkumar'

for item in  enumerate(word):
    print(item)

(0, 'p')
(1, 'a')
(2, 'n')
(3, 'k')
(4, 'a')
(5, 'j')
(6, 'k')
(7, 'u')
(8, 'm')
(9, 'a')
(10, 'r')

In [30]:
word="abcdefghijklmnop"

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f


6
g


7
h


8
i


9
j


10
k


11
l


12
m


13
n


14
o


15
p

In [31]:
# zip function

In [32]:
mylist1=[1,2,3]
mylist2=['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [33]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
         
for item in zip(mylist1,mylist2,mylist3):
         print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
         
for a,b,c in zip(mylist1,mylist2,mylist3):
         print(a)

1
2
3

In [37]:
# in operator

In [39]:
'x'  in [1,2,23]

False

In [40]:
'a' in  "pankaj kumar"

True

In [42]:
d={'mykey':345}

'mykey' in d.keys()

True

In [43]:
d={"mykey":356}

356 in d.values()

True

In [44]:
mylist=[10,20,33,25,256,6]

min(mylist)

6

In [45]:
max(mylist)

256

In [47]:
#libraries

In [49]:
from random import shuffle

In [50]:
mylist=[12,25,36,4,5,88,9,556,655,75,8]

In [51]:
shuffle(mylist)

In [52]:
mylist

[5, 12, 655, 75, 88, 4, 9, 556, 36, 25, 8]

In [54]:
# note we cannot declare a variable to the shuffle function as it is not returning us some values!!

In [55]:
#randint function

In [56]:
from random import randint

In [57]:
randint(0,33)

7

In [80]:
randint(12,25)

15

In [81]:
#input function

In [84]:
input("what is your name")

what is your namepankaj

'pankaj'

In [87]:
x=input('what is your favourite number')

what is your favourite number254

In [88]:
x

'254'

In [90]:
type(x)

str

In [91]:
float(x)

254.0

In [92]:
int(x)

254

In [93]:
int(input("what is your favourite number"))

what is your favourite number25

25

In [94]:
#list comprehension in python

In [96]:
#earlier

In [10]:
mystring="abcdefghijk"

mylist=[]

for letter in mystring:
    mylist.append(letter)

In [12]:
mylist=[letter for letter in "word"]

In [13]:
mylist

['w', 'o', 'r', 'd']

In [15]:
mylist=[num for num in range (0,11)]

In [16]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
mylist=[num**2 for num in range(0,11)]

In [18]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mylist=[num for num in range(0,11) if num%2==0]

In [21]:
mylist

[0, 2, 4, 6, 8, 10]

In [22]:
mylist=[num**2 for num in  range(0,11) if num%2==0]

In [23]:
mylist

[0, 4, 16, 36, 64, 100]

In [24]:
celcius=[0,12,33,25]

farenheit=[(9/5*temp+32) for temp in celcius]

In [25]:
farenheit

[32.0, 53.6, 91.4, 77.0]

In [26]:
# if and else in list comprehension

In [27]:
result=[x if x%2==0 else 'odd' for x in range(0,11)]

In [28]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]