In [3]:
"hello"[0]

'h'

In [4]:
mystring="hello"

In [5]:
mystring

'hello'

In [6]:
mystring[0]

'h'

In [8]:
print("hello \nworld")

hello
world

In [9]:
print("hello \tworld")

hello 	world

In [10]:
len("hello")

5

In [13]:
#indexing and slicing

In [14]:
mystring="hello world"

In [16]:
mystring[8]

'r'

In [17]:
mystring[-1]

'd'

In [18]:
mystring="abcdefghijklmno"

In [19]:
mystring

'abcdefghijklmno'

In [20]:
mystring[:3]

'abc'

In [21]:
mystring[3:]

'defghijklmno'

In [22]:
mystring[3:6]

'def'

In [25]:
mystring[2:14:2]

'cegikm'

In [28]:
mystring[::1]

'abcdefghijklmno'

In [29]:
mystring[::2]

'acegikmo'

In [30]:
mystring[::-1]

'onmlkjihgfedcba'

In [31]:
# strings are immutable i.e cannot be changed!! so in order to change do the string concatenation!!

In [32]:
name="sam"

In [39]:
lastname=name[1:]

In [41]:
lastname

'am'

In [44]:
"p" +lastname

'pam'

In [55]:
x="hello world"

In [64]:
x= x+" it is beautiful outside"

In [65]:
x

'hello world it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [66]:
#multiplication

In [67]:
letter="z"

In [68]:
letter*10

'zzzzzzzzzz'

In [70]:
#CONCATENATION OF THE NUMBERS IS NOT POSSIBLE, SO DOING THE CONCATENATION OF THE NUMBERS WILL PRODUCE THE ERROR

In [71]:
"2"+"3"

'23'

In [73]:
# SO CONCLUSION IS YOU CANNOT CONCATENATE THE NUMBERS , ONLY IF NUMBERS ARE STRING THEN YOU CAN CONCTENATE THE NUMBER TO GET 23

In [75]:
2+3

5

In [76]:
x="hello world"

In [81]:
x.upper()

'HELLO WORLD'

In [82]:
x.lower()

'hello world'

In [83]:
x

'hello world'

In [84]:
x=x.upper()

In [89]:
x

'HELLO WORLD'

In [90]:
x.split()

['HELLO', 'WORLD']

In [91]:
x="this is my new string"

In [92]:
x.split("i")

['th', 's ', 's my new str', 'ng']

In [94]:
#printing format with strings  .format  method

In [95]:
print("hi {}".format("pankaj") )

hi pankaj

In [96]:
print("hey pankaj {}".format("how are you"))

hey pankaj how are you

In [101]:
print("the {0} {0} {0}".format("quick","brown", "fox" ))

the quick quick quick

In [105]:
print("the {q} {b} {f}".format(q="quick" , b="brown" , f="fox") )

the quick brown fox

In [106]:
#FLOAT FORMATING WITH (.FORMAT) METHOD