In [1]:
x='hello'

In [7]:
x=x+' world it is beautiful outside'

In [8]:
x

'helloworld it is beautiful outside world it is beautiful outside world it is beautiful outside'

In [9]:
letter='z'

In [11]:
letter*10

'zzzzzzzzzz'

In [12]:
x="hello world"

In [13]:
x.upper()

'HELLO WORLD'

In [14]:
x

'hello world'

In [15]:
x.lower()

'hello world'

In [16]:
x.split()

['hello', 'world']

In [19]:
x.split('o')

['hell', ' w', 'rld']

In [20]:
x="hi i am soon going to delhi for programming purpose"

In [21]:
x.upper()

'HI I AM SOON GOING TO DELHI FOR PROGRAMMING PURPOSE'

In [22]:
x.lower()

'hi i am soon going to delhi for programming purpose'

In [23]:
x.split()

['hi',
 'i',
 'am',
 'soon',
 'going',
 'to',
 'delhi',
 'for',
 'programming',
 'purpose']

In [24]:
x.split('i')

['h', ' ', ' am soon go', 'ng to delh', ' for programm', 'ng purpose']

In [25]:
#printing format with the strings

In [26]:
print('hi {} {} {} {}'.format('pankaj' ,'how' ,'are' ,'you'))

hi pankaj how are you

In [27]:
print('this {} {} {}'.format('is','a','notebook'))

this is a notebook

In [29]:
print('hey {} {} {}'.format('this', 'is' ,'it'))

hey this is it

In [30]:
result=100/777

In [33]:
print('the ans is {r:2.3f}'.format(r=result))

the ans is 0.129

In [34]:
result=100/777

In [39]:
print('the result is {r:1.4f}'.format(r=result))

the result is 0.1287

In [40]:
result=522/458769

In [41]:
print('the result is {r:1.4f}'.format(r=result))

the result is 0.0011

In [42]:
result=100/4445

In [45]:
print(f'the result is {r:1.4f}'.format(r=result))

the result is 0.1287

In [46]:
result=100/777

In [49]:
print('the result is {r:1.4f}'.format(r=result))

the result is 0.1287

In [50]:
result=4536/458789

In [51]:
print('the result is {r:2.4f}'.format(r=result))

the result is 0.0099

In [53]:
# f strings formatted literal

In [56]:
name='pankaj'
age=25

In [57]:
print(f'hi my name is {name} and my age is {age}')

hi my name is pankaj and my age is 25

In [59]:
name= 'pankaj'
age=25
address='house no. 22 type 2 I.T.B.P campus btc bhanu '

In [62]:
print(f'hi my name is {name} and my age is {age} my address is {address} ')

hi my name is pankaj and my age is 25 my address is house no. 22 type 2 I.T.B.P campus btc bhanu

In [63]:
#lists in python

In [64]:
mylist=['one','02',"three"]

In [65]:
mylist[0]  #indexing

'one'

In [66]:
mylist[2]

'three'

In [74]:
mylist[0:2]               #slicing

[1, 2]

In [80]:
mylist=[1,2,3]
anotherlist=['one','two','three']          #concatenation

In [81]:
newlist=mylist+anotherlist                #concatenation

In [70]:
newlist

[1, 2, 3, 'one', 'two', 'three']

In [71]:
newlist

[1, 2, 3, 'one', 'two', 'three']

In [72]:
newlist[1:]

[2, 3, 'one', 'two', 'three']

In [73]:
newlist[1:5:1]

[2, 3, 'one', 'two']

In [78]:
newlist[0]='ONE IN ALL CAPS'       #mutation

In [79]:
newlist

['ONE IN ALL CAPS', 2, 3, 'one', 'two', 'three']

In [82]:
#append

In [83]:
newlist.append('four')

In [84]:
newlist

[1, 2, 3, 'one', 'two', 'three', 'four']

In [85]:
newlist.pop()

'four'

In [86]:
newlist

[1, 2, 3, 'one', 'two', 'three']

In [87]:
newlist.pop(-1)

'three'

In [88]:
newlist

[1, 2, 3, 'one', 'two']

In [89]:
newlist=['a','b','f','c','z','k','l','m','i']

In [90]:
newlist.sort()

In [91]:
newlist

['a', 'b', 'c', 'f', 'i', 'k', 'l', 'm', 'z']

In [92]:
numlist=[1,9,5,50,42,12,1,5,6]

In [93]:
numlist.sort()

In [94]:
numlist

[1, 1, 5, 5, 6, 9, 12, 42, 50]

In [95]:
numlist.reverse()

In [96]:
numlist

[50, 42, 12, 9, 6, 5, 5, 1, 1]

In [98]:
mydict={'key1':20 ,'key2':25, 'key3':52}

In [100]:
mydict['key1']

20

In [101]:
mydict['key3']

52

In [103]:
pricelookup={'apple':50 ,'oranges':20 , 'grapes':56}

In [104]:
pricelookup['apple']

50

In [105]:
d={'k1':25 ,'k2':56 , 'k3':56}

In [107]:
d['k3']

56

In [108]:
d={'k1':123 ,'k2':[1,2,3],'k3':{'key3':'value4'}}

In [110]:
d['k1']

123

In [111]:
d['k2'][1]

2

In [112]:
d['k3']['key3']

'value4'

In [113]:
d={'k1':['a','b','c']}

In [117]:
letter=d['k1'][2]

In [119]:
letter.upper()

'C'

In [120]:
d

{'k1': ['a', 'b', 'c']}

In [122]:
d['k1'][2].upper()

'C'

In [123]:
#inorder to add something new to your dictionary

In [124]:
 d={'k1':123 ,'k2':[1,2,3],'k3':{'key3':'value4'}}

In [125]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'key3': 'value4'}}

In [126]:
d['k4']=300

In [127]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'key3': 'value4'}, 'k4': 300}

In [128]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [129]:
d.values()

dict_values([123, [1, 2, 3], {'key3': 'value4'}, 300])

In [130]:
d.items()

dict_items([('k1', 123), ('k2', [1, 2, 3]), ('k3', {'key3': 'value4'}), ('k4', 300)])

In [132]:
#tuples

In [133]:
t=(1,22,3,45)

In [134]:
type(t)

tuple

In [135]:
len(t)

4

In [136]:
#slicing

In [137]:
t[1:3]

(22, 3)

In [138]:
t[0]

1

In [139]:
t[-1]

45

In [141]:
# methods in tuple
# 1. index method.
# 2. count method.

In [142]:
t=('a','b','c','a')

In [144]:
t.count('a')

2

In [145]:
t.index('c')

2

AttributeError: 'tuple' object has no attribute 'sort'