In [1]:
mylist=['O','','']

In [4]:
from random import shuffle

In [5]:
def shuffle_list(xyz):
    # Take in list, and returned shuffle versioned
    shuffle(xyz)
    
    return xyz

In [6]:
shuffle_list(mylist)

['', 'O', '']

In [9]:
kl='kjl'*2

In [10]:
kl

'kjlkjl'

In [12]:
mylist=['1','2','3']+['hey there']

In [13]:
mylist

['1', '2', '3', 'hey there']

In [14]:
mylist*2

['1', '2', '3', 'hey there', '1', '2', '3', 'hey there']

In [1]:
points=33

In [2]:
str(points)

'33'

In [3]:
points

33

In [5]:
name='maggie'

In [6]:
print(f"He said his name is {name!r}")

He said his name is 'maggie'

In [7]:
mylist=['n',3,5.02,"mystring"]

In [8]:
mylist

['n', 3, 5.02, 'mystring']

In [13]:
mylist+['listo']

['n', 3, 5.02, 'mystring', 'listo']

In [12]:
mylist

['n', 3, 5.02, 'mystring']

In [15]:
xyz=mylist+['listo']

In [16]:
xyz

['n', 3, 5.02, 'mystring', 'listo']

In [17]:
mylist*2

['n', 3, 5.02, 'mystring', 'n', 3, 5.02, 'mystring']

In [29]:
mylist=['v','b','k','z','x']

In [30]:
mylist.reverse()

In [31]:
mylist

['x', 'z', 'k', 'b', 'v']

In [32]:
mylist

['x', 'z', 'k', 'b', 'v']

In [33]:
mylist.append('k')

In [34]:
mylist

['x', 'z', 'k', 'b', 'v', 'k']

In [25]:
mylist.sort()

In [26]:
mylist

['b', 'k', 'k', 'v', 'x', 'z']

In [27]:
mylist

['b', 'k', 'k', 'v', 'x', 'z']

In [35]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [37]:
my_dict['key1']

123

In [38]:
my_dict=my_dict['key1']-123

In [39]:
my_dict

0

In [40]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [41]:
my_dict['key1'] -=123

In [42]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [43]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [46]:
my_dict['key3'][0].upper()  #will not change the original dictionary

'ITEM0'

In [47]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [48]:
d={}

In [49]:
d['animal']='dog'

In [50]:
d['age']=4

In [51]:
d

{'animal': 'dog', 'age': 4}

In [52]:
t=([1,2,3],'one',2)

In [53]:
len(t)

3

In [55]:
t[0]

[1, 2, 3]

In [56]:
t[0][1]

2

In [57]:
t[1].upper()

'ONE'

In [58]:
t

([1, 2, 3], 'one', 2)

In [60]:
t[:]

([1, 2, 3], 'one', 2)

In [61]:
t[:2]

([1, 2, 3], 'one')

In [62]:
t[::2]

([1, 2, 3], 2)

In [63]:
t[-1]

2

In [64]:
# Use .index to enter a value and return the index
t.index('one')

1

In [65]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [66]:
[1,2]*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [67]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [78]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']